<div ng-controller="MainAppCTRL">
    <form role="form" ng-submit="submit()">
        <section class="container">
            <header>
                <h2>Basic Info</h2>
            </header>

            <div ng-repeat="group in model.form.data"
                 validate-group group="group"
                 ng-class="{'form-inline': group.group_rendering_options.display_orientation === 'inline'}">

                <label class="group-title"><span>{{group.title}}</span><help help-data="group.group_help" type="group.group_help.type"></help></label>

                <div ng-repeat="data in group.data"
                     class="form-group"
                     validator ng-model="messages" data-item="{{data.name}}"
                     ng-class="{'double-wide': data.input_rendering_options.horizontal_group === false}">

                    <form-input payload = 'payload' data = 'data'></form-input>

                </div>
            </div>

            <pre ng-show="showPayload">{{payload | json}}</pre>

            <footer class="clearfix">
                <button type="button" class="btn btn-primary" ng-click="showPayloadData()">Save</button>
                <button type="button" class="btn btn-default" ng-click="resetPayload()">Clear</button>
            </footer>
        </section>
    </form>
</div>
